.content-1 {
  margin: 0;
  padding: 0;
  border: none;
  background-color: black;
}
.img-1 {
  cursor: pointer;
}
.content-2-images {
  display: flex;
  align-items: center;
  justify-content: center;
}